<html>
<body>
<h1>Student: {{ last_name }}, {{ first_name }}</h1>
<h2>Github: {{ github }}</h2>
<p>This student has shown extreme recalcitrance and has generally proved to be unreliable.</p>
<p>It is my recommendation that they be put on double-secret probation for the remainder of the course.</p>

<p>
    {% for item in name_and_grades %}
    On project <a href="/projects?project={{ name_and_grades[project_name] }}">
     {{ item['project_name'] }}</a>, {{ first_name }} {{ last_name }} received a grade of {{ item['grade'] }}. <br><br>

     {%endfor%}
</p>

</body>
</html>